body {
    background-image: url("https://cutewallpaper.org/21/space-aesthetic-background/ULTRA-cyberpunk-vaporwave-seapunk-glitch-.jpg");
}

.page-div {
    display: grid;
    grid-template-rows: auto 30px;
    background-color: rgba(10, 10, 10, .8);
    margin: 15px;
    height: 95vh;
    border-radius: 2%;
    box-shadow: 3px 4px 5px rgba(8, 8, 8, .8);

}

.text-div {
    margin: 50px 10px 20px 10px;
    text-align: justify;
    text-justify: inter-word;
}

.text {
    color: whitesmoke;
    font-family: sans-serif;
    line-height: 1.8;
}

.page-count {
    grid-row: 2 / 3;
    margin: auto;
    text-align: center;
    color: gold;
    font-family: sans-serif;
}